.slideshow {}

.slideshow ul {
	margin: 0;
	padding: 0;
}

.slideshow li {
	margin: 0;
	padding: 0;
	display: block;
}

.slideshow img {
	display: block;
}

.slideshow-viewport {
	overflow: hidden;
	position: relative;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow-controls .disabled {
	color: #999;
}

.slideshow-nav .current {
	color: orange;
}