.slideshow {}

.slideshow ul {
	margin: 0;
	padding: 0;
}

.slideshow li {
	margin: 0;
	padding: 0;
	display: block;
}

.slideshow img {
	display: block;
}

.slideshow-controls .disabled {
	color: #999;
}

.slideshow-nav .current {
	color: orange;
}